.formContainer{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .passwordArea{
        position: relative;

        .passwordToggleIcon{
            position: absolute;
            right: 5px;
            top: 11px;
            font-size: 2rem;
            cursor: pointer;
        }
    }
}